@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color:#fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  width: 100%;
  z-index: 5;;
  height: 60px;
  background-color: transparent;
  position: fixed;
  background-color: white;
  box-shadow: 3px 2px 2px #e1e1e1; 
}

.logo {
  order: 1;
}
.logo img {
  width: 150px; /* Adjust the logo size as needed */
}

.menu-icon {
  display: none;
}

.nav-elements{ 
  order:2
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 500;
  color: rgb(33, 51, 67);
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }

}
@media (max-width: 320px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 50px !important;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 150px;
  }

  .nav-elements {
    position: absolute;
    left: 0;
    top: 60px;
    background-color:#fff;
    width: 0px;
    height: 300px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 180px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
